.translator__name{
    margin-top: 60px;
}
.translator__setSign__button{
    justify-content: center;
    padding: 8px;
    background-color: transparent;     
    height: 12px;
    transform: translateX(25%) rotate(45deg);
    width: 12px;
    margin-left: 4%;
}

