
.table{
      width: 50%;
    margin: 0 auto; /* same as margin: 0 25%;  */
    border: 1px solid #d9b99b;
    margin-bottom: 20px;
}
.table tr{
    text-align: center; 
    vertical-align: middle;
}