.header{
    font-family: "Avenir Next", Calibri, Verdana, sans-serif, bold;

    height: 60px;
  background-color:transparent;
  display: flex;
justify-content: space-evenly;
  top: 0;
  border-bottom: 3px solid #eed9c4;
}
.header__title{
    margin-top: 2%;
}   
.header__login__name{
    margin-top:2px;
}